.basic-structure {
  &.el-dialog {
    --el-dialog-width: 476px;
    --el-dialog-border-radius: 4px;
    --el-dialog-padding-primary: 12px;
  }
}

.basic-structure {
  &.el-dialog {
    .el-dialog__header {
      padding-bottom: 0px;
      margin-bottom: 20px;
    }
    .el-dialog__body {
      color: #000;
    }
    .el-dialog__footer {
      padding-top: 0px;
      margin-top: 20px;
      text-align: left;
    }
  }
}

@media (max-width: 476px) {
  .basic-structure {
    &.el-dialog {
      --el-dialog-width: 95%;
    }
  }
}